.footer{
    padding-top: 51px ;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
   
    .text_footer{
        font-size: 14px;
        font-weight: 400;
        color: #7E7E82;
    }
}
@media (min-width: 768px){
    .footer{
        display: flex; 
        justify-content: space-between;
        padding: 20px; 
        box-sizing: border-box;
        flex-direction: row;
    
    }
    .text_footer{
        max-width: 220px;
        text-align: start;
        &:last-child{
            text-align: end;
        }
    }

    
    

}

@media (min-width: 1440px){
    .footer{
        padding-left: 34px;
        }
        .text_footer{
            max-width: 330px;
        }

        
}