.left_menu {
  position: fixed;
  box-shadow: 16px 0px 52px 0px #0e185033;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 320px;
  z-index: 1000;
  left: auto;
  height: 100vh;
  display: none;
}
.header_left {
  padding-bottom: 28px;
}

.menu_header_left {
  padding: 19px 24px 0px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_button_left {
  align-content: center;
  left: 81px;
}
.logo {
  align-content: center;
  position: absolute;
  top: 10px;
  left: 81px;
  background-color: transparent;
  border-color: transparent;
}
.navig_left {
  padding-left: 24px;
}
.navig_link_left {
  display: flex;
  background-color: transparent;
  border-color: transparent;
  flex-direction: column;
  margin-bottom: 32px;
  justify-content: start;
  position: relative;
  color: #1b1c21;
  font-size: 16px;
  font-weight: 400;

  &:focus::before {
    content: "";
    height: 40px;
    width: 4px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: #41f6d7;
    top: -10px;
    left: -24px;
    position: absolute;
  }

  &:focus {
    color: #7e7e82;
  }
}
.menu_main_left {
  display: flex;
  padding-left: 24px;
  align-items: start;
  gap: 16px;
}
.footer_info {
  display: block;
  padding-top: 16px;
  padding-left: 24px;
}

.connection {
  color: #1b1c21;
}
.phone {
  font-size: 24px;
  font-weight: 600;
}
.a_language {
  color: #1b1c21;
  &:focus {
    color: #7e7e82;
  }
}


@media (min-width: 1440px){
  
  
  .left_menu{
    display: block;
    box-shadow: none;
  }
  .header_left {
    padding-bottom: 43px;
  }
  .logo{
    left: 24px;
  }
  .menu_main_left{
    padding-top: 268px;
  }
  .desc__top_left{
    display: none;
  }
  .footer_info{
    padding-bottom: 24px;
  }
}