.technique {
  padding-top: 24px;
  padding-left: 16px;
}

.technique_title {
  background-color: #ffffff;
  padding: 16px 0px 16px 0px;
  border-top: 1px solid #d9fff5;
  margin-top: 24px;
}
.technique_wrapper {
  padding-top: 24px;
  padding-bottom: 16px;
}
.equipment_repair {
  background-color: #ffffff;
  width: 240px;
  height: 160px;
  margin-right: 16px;
}
.reveal_technique {
  display: none;
  border-color: transparent;
  background-color: transparent;
  font-size: 16px;
  color: #1b1c21;
  font-weight: 500;
  padding: 24px 0px 32px 32px;

  &::before {
    transition: transform 0.3s ease-out;
    position: absolute;
    content: url(../image/expand.svg);
    margin-left: -30px;
  }
}

.reveal_technique.active::before {
  transform: rotate(180deg);
  margin-top: -5px;
}

@media (min-width: 768px) {
  .technique {
    padding-left: 24px;
    padding-top: 0px;
  }
  .technique_title {
    margin-top: 32px;
  }
  .reveal_technique {
    display: flex;
  }

  .equipment_repair {
    width: 224px;
    margin-right: 24px;
    margin-top: 16px;
  }
}
@media (min-width: 1440px) {
  .technique {
    padding-left: 32px;
  }

  .technique_title {
    margin-top: 50px;
  }

  .equipment_repair {
    width: 240px;
    margin-right: 32px;
  }
}
