$color-left-menu: #ffffff;
$color-gradient-menu: linear-gradient(270deg, #f8f8f8 0%, #ffffff 98.61%);
$color-menu: #f8f8f8;

$color-button: #ff3e79;
$color-bold: #1b1c21;
$color-grey: #7e7e82;
$color-swiper: #b5b6bc;
$color-pseudo-element: #41f6d7;
$color-pseudo-class: #b8ffec;
$color-border: #eaeaea;




