.equipment_repair {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-radius: 6px;
    border: 1px solid #eaeaea;
    flex-direction: row-reverse

}
.repair {
    color: #1B1C21;
    font-size: 16px;
    font-weight: 400;
}
.go {
    display: block;
    padding-top: 88px;
}